.grid {
  display: grid;
  gap: 24px;
}

.twoCol {
  grid-template-columns: 34% 1fr;
}

.oneCol {
  grid-template-columns: 1fr;
}

.col {
  min-width: 0;
}

@media (max-width: 768px) {
  .grid {
    gap: 2%;
  }

  .twoCol {
    grid-template-columns: 36% 1fr;
  }
}

@media (max-width: 350px) {
  .twoCol {
    grid-template-columns: 100%;
  }
}

@media print {
  .twoCol {
    grid-template-columns: 70mm 1fr;
  }
}
