.grid {
  display: grid;
  gap: 24px;
}

.twoCol {
  grid-template-columns: 32% 1fr;
}

.oneCol {
  grid-template-columns: 1fr;
}

.col {
  min-width: 0;
}

@media (max-width: 768px) {
  .grid {
    gap: 2%;
  }
}

@media (max-width: 300px) {
  .twoCol {
    grid-template-columns: 100%;
  }
}
