.mainTitle {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--thales-blue);
  background: var(--light-gray);
  padding: 8px 12px;
  border-left: 4px solid var(--thales-blue);
  margin-bottom: 5px;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 1.5px solid #dbe2ea;

  padding-left: 20px;
  margin-left: 0px;
}

.expCard {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  background: rgb(248, 248, 248);
}

.expCard::before {
  content: "";
  position: absolute;
  left: -27px;
  top: 6px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border: 2px solid var(--thales-blue);
  border-radius: 50%;
}

.expHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 8px;
}

.expTitleGroup h3 {
  font-size: 1.15rem;
  color: var(--thales-blue);
  font-weight: 700;
  margin: 0;
}

.expTitleGroup h4 {
  font-size: 0.8rem;
  color: var(--thales-blue);
  font-weight: 700;
  text-transform: uppercase;
}

.expList {
  margin: 0;
  padding-left: 18px;
  list-style-type: square;
}

.expList li {
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: var(--grey-text);
  line-height: 1.5;
}

.expHeader .period {
  font-size: 0.85rem;
  color: var(--grey-text);
  font-style: italic;
  white-space: nowrap; /* Empêche la date de se couper */
}

.description {
  font-size: 0.9rem;
  color: var(--grey-text);
  margin: 0;
  text-align: justify;
}
@media (max-width: 768px) {
  /* --- Titres --- */
  .mainTitle {
    font-size: clamp(0.8rem, 2.6vw, 1.2rem);
    padding-left: 10px;
    margin-bottom: 18px;
    border-left-width: 4px;
  }

  .timeline {
    padding-left: 0px;
    margin-left: 0px;
    border: none;
  }

  .expCard::before {
    display: none;
  }

  .expTitleGroup h3 {
    font-size: clamp(0.8rem, 2.3vw, 1.4rem);
    line-height: 1.4;
  }

  .expTitleGroup h4 {
    font-size: clamp(0.6rem, 1.8vw, 0.9rem);
    line-height: 1.2;
  }

  .expHeader .period {
    font-size: clamp(0.6rem, 2vw, 0.8rem);
  }

  /* --- Contenu --- */
  .expList li {
    font-size: clamp(0.5rem, 2vw, 0.85rem);
    line-height: 1.4;
  }

  .expList {
    padding-left: 10px;
  }

  .description {
    font-size: clamp(0.5rem, 2vw, 0.85rem);
    text-align: left;
  }
}

@media print {
  .expCard {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}
