.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #0c0c80;
  color: #ffffff;
  padding: 10px 40px;
}

.identityBlock {
  flex: 1;
}

.name {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #f8f8f8;
}

.role {
  color: #f8f8f8;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.target {
  font-size: 0.9rem;
  font-weight: 600;
  color: #f8f8f8;
  margin-bottom: 8px;
  display: block;
}

.profilePic {
  width: 130px;
  height: 130px;
  object-fit: cover;

  border-radius: 5px;
  border: 3px solid #f3f4f6;
}

.summary {
  font-size: 0.9rem;
  color: #f8f8f8;
  max-width: 90%;
  margin: 0;
  text-align: justify;
}

.rightHeader {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.contactInfo {
  align-items: flex-end;
  justify-content: flex-start;
  text-align: right;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.5px;
}

@media (max-width: 680px) {
  .header {
    padding: 20px 20px;
  }
  .name {
    font-size: clamp(0.8rem, 5vw, 2rem);
  }

  .role {
    font-size: clamp(0.7rem, 2.8vw, 1rem);
  }

  .target {
    font-size: clamp(0.6rem, 2.6vw, 0.9rem);
  }

  .summary {
    font-size: clamp(0.5rem, 2.5vw, 0.85rem);
  }

  .contactInfo {
    font-size: clamp(0.5rem, 2.5vw, 0.85rem);
  }

  .profilePic {
    width: clamp(80px, 20vw, 130px);
    height: clamp(80px, 20vw, 130px);
  }
}

@media (max-width: 270px) {
  .header {
    flex-direction: column;
    gap: 12px;
  }

  .rightHeader {
    align-items: flex-start;
  }

  .contactInfo {
    text-align: left;
    align-items: flex-start;
  }
}
